body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
  }
  button {
    margin: 5px;
    padding: 5px;
  }
  .artists-song {
    cursor: pointer;
  }

  .tab-list > span {
    padding: 5px 8px;
    border: 1px solid #282c34;
    border-radius: 10px;
    margin: 5px;
    /* Spans do not have margins on top or bottom.
       However, this can be fixed with an inline-block
       per https://stackoverflow.com/a/11700999. */
    display: inline-block;
    cursor: pointer;
  }
  /* Change the style for the active tab-list span.
     Other than that, it inherits from the above. */
  .tab-list > span.active {
    background-color: #282c34;
    color: #ffffff;
  }
